*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    height: 90vh;
    width: 70%;
    padding: 0.5%;
    margin: auto;
}

.avi-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    position: relative;
}

.avi-button {
    padding: 1%;
    position: absolute;
    top: 8%;
    right: 20%;
}

.avi-button:hover{
    top:7%;
    right: 19%;
}

.avi-section p {
    margin-top: 8px;
    color: #101828;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

#profile__img {
    border-radius: 50%;
}

#profile__img:hover {
    z-index: -1;
}

#slack {
    display: none;
}

.image {
    margin-top: 1%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image:hover{
    background: rgba(16, 24, 40, 0.3);
}

.camera {
    position: absolute;
    padding: 1%;
    top: 50%;
    left: 38%;
    display:none;
}

footer {
    height: 10vh;
    margin:auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 13px;
    color: #667085;
}

.contact-container {
    height: 85vh;
    width: 70%;
    padding: 1%;
    margin: auto;
}
label {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #344054;
}

input, textarea {
    margin-top: 1%;
    padding: 2% 3.5%;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* color: #667085; */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}



input[type=text]:focus {
    background: #FFFFFF;
    border: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }

.form-group {
    width: 70%;
    margin: auto;
    margin-top: 2%;
}

.form-group h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
}
.form-group p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #475467;
}

.form-container {
    margin-top: 3%;
}

.name-form-div {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 16px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}

#email {
    padding: 1.5% 2%;
    width: 98%;
}

#message{
        overflow: auto;
        background: #FFFFFF;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        resize: none;
        font-family: Inter, "sans-serif";
        width: 100%;
        height: 100px;
        padding: 1% 1.5%;
    }

#checkbox {
    flex-direction: row;
}

#checkbox label {
    margin-left: 1.75%;
}

#button-div {
    width: 105%;
}

.button {
    color: #fff;
    background: blue;
    height: 48px;
    background: #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    cursor: pointer;
}

.button:focus {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.button:hover {
    background: #175CD3;
}

.link-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:8px;
    width: 90%;
    margin: auto;
    margin-bottom: 1.2%;
    padding: 1.1% 0;
    background: rgba(16, 24, 40, 0.05);
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}

.link-card:hover {
    background:#D0D5DD;
}

a:focus > div {
    background: #EAECF0;
    border: 1px solid #98A2B3;
}

.link-card p {
    font-size: 14px;
    color: #101828;
}

.social-div {
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.social-div > div {
    margin: 0 1%;
}

@media only screen and (max-width: 768px) {
    .container {
        height: 100vh;
        width: 100vw;
        padding: 0;
        display: grid;
        grid-template-rows: 25% 75%;
    }

    .avi-section {
        padding-top: 15%;
        margin-bottom: 5%;
    }

    .avi-button {
        top: 15%;
        right: 8%;
    }

    .avi-button button {
        border: none;
        background: none;
        padding: 2%;
        z-index: 999;
    }

    .avi-button:hover {
        top: 15%;
        right: 8%;
    }

    .linksection {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .link-card {
        margin-bottom: 1.2%;
        padding: 6% 0;
    }

    a {
        padding: 0;
    }

    footer {
        flex-direction:column;
        padding: 2%;
    }
}