*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    height: 80vh;
    width: 70%;
    padding: 0.5%;
    margin: auto;
}

.avi-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    position: relative;
}

.avi-button {
    padding: 1%;
    position: absolute;
    top: 8%;
    right: 20%;
}

.avi-button:hover{
    top:7%;
    right: 19%;
}

.avi-section p {
    margin-top: 8px;
    color: #101828;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

#profile-pic {
    border-radius: 50%;
}

#profile-pic:hover {
    z-index: -1;
}

#slack {
    display: none;
}

.image {
    margin-top: 1%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image:hover{
    background: rgba(16, 24, 40, 0.3);
}

.camera {
    position: absolute;
    padding: 1%;
    top: 50%;
    left: 38%;
    display:none;
}

footer {
    height: 20vh;
    margin:auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 13px;
    color: #667085;
}

.link-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:8px;
    width: 90%;
    margin: auto;
    margin-bottom: 1.2%;
    padding: 1.2% 0;
    background: rgba(16, 24, 40, 0.05);
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}

.link-card:hover {
    background:#D0D5DD;
}

a:focus > div {
    background: #EAECF0;
    border: 1px solid #98A2B3;
}

.link-card p {
    font-size: 14px;
    color: #101828;
}

.social-div {
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.social-div > div {
    margin: 0 1%;
}

@media only screen and (max-width: 768px) {
    .container {
        height: 100vh;
        width: 100vw;
        padding: 0;
        display: grid;
        grid-template-rows: 25% 75%;
    }

    .avi-section {
        padding-top: 15%;
        margin-bottom: 5%;
    }

    .avi-button {
        top: 15%;
        right: 8%;
    }

    .avi-button button {
        border: none;
        background: none;
        padding: 2%;
        z-index: 999;
    }

    .avi-button:hover {
        top: 15%;
        right: 8%;
    }

    .linksection {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .link-card {
        margin-bottom: 1.2%;
        padding: 6% 0;
    }

    a {
        padding: 0;
    }
}